# route-{{defaultdevice}}
{{ net }} dev {{ defaultdevice }} src {{ ansible_{{defaultdevice}}.ipv4.address }} table {{ table1name }}
default via {{ gateway }} dev {{ defaultdevice }} table {{ table1name }}